body {
    background-color: rgb(61, 61, 61);
}

.container {
    background-color: rgb(170, 83, 83);
    color:white;
    text-align: center;
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: table;
    box-shadow: 1px 3px 7px rgb(0, 0, 0);
}

.container #header {
    background-color: rgb(107, 143, 221);
    text-align: center;
    font-family: 'Comic sans', 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 1px 3px 7px rgb(66, 58, 58);
    text-shadow: 1px 3px 7px rgb(0, 0, 0);
}

img {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    box-shadow: 0 5px 9px 2px rgba(0, 0, 0, 0.2), 0 9px 20px 5px rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

img {
    src: url(https://www.instagram.com/ike.atl/)
}

img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0.2, 0.5), 0 19px 20px 5px rgba(0, 0, 0.2, 0.19);
}

#content {
    padding: 10px 40px 10px 20px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

#nav {
    font-size: 14pt;
    width: 180px;
    float: left;
    border-radius: 5px;
    background-color: rgb(121, 118, 172);
    padding: 0 5px 0.7px 0.5px;
    box-shadow: 2px 3px 9px 1px rgb(44, 43, 43);
}

.container #main {
    width: 850px;
    float: right;
    padding: 0 40px 10px 40px;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 2px 4px 9px 1px rgb(44, 43, 43);
}

p {
    text-align: justify;
}

#nav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid rgb(50, 21, 97);
}

#nav a.active {
    border-radius: 6px;
    background-color: rgb(46, 60, 97);
    color: white;
    box-shadow: 2px 3px 5px rgb(44, 43, 43);
}

#nav a:hover:not(.active) {
    border-radius: 6px;
    background-color: rgb(79, 104, 172);
    color: white;
    box-shadow: 3px 3px 5px rgb(44, 43, 43);
}

#footer {
    clear: both;
    padding: 10px 20px 10px 0;
    background-color: rgb(198, 154, 211);
    border-radius: 5px;
    text-align: right
}

#footer a {
    float: left;
    padding-left: 20px;
    text-decoration: none;
}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 134, 42);
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(44, 43, 43);
}